@import url("../font/Paperlogy/Paperlogy.css");
@import url("../font/pretendard/pretendard.css");

html {
  overflow-x: hidden;
  word-break: keep-all;
  background-color: #111;
  color: var(--main-color01);
}
.white-bg {
  background-color: #fff;
  color: #333;
}
.white-bg h1 {
  font-size: 40px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
}
:root {
  --font-type01: "Pretendard";
  --font-type02: "Paperlogy";
  --main-color01: #fff;
  --gray-color01: #f8f8fb;
  --font-color01: #333;
  --font-color02: #666;
  --font-color03: #999;
}
img {
  text-align: center;
  vertical-align: middle;
}
ul,
ol,
dl {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}
a {
  font-family: var(--font-type01);
  text-decoration: none;
  color: #fff;
}
a:hover,
a:focus {
  color: var(--main-color01);
  transition: 0.3s all ease-in-out;
}
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  box-shadow: none;
  outline-style: dashed !important;
  outline-color: var(--main-color01);
  outline-width: 1px !important;
  outline-offset: 0 !important;
}

/*********************************flex*********************************/
.flex {
  display: flex;
}

.gap10 {
  gap: 10px;
}
.gap20 {
  gap: 20px;
}
.gap40 {
  gap: 40px;
}
.gap60 {
  gap: 60px;
}
.gap80 {
  gap: 80px;
}

.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justy-center {
  justify-content: center;
}
.justy-between {
  justify-content: space-between;
}

/*********************************popup*********************************/
.popup_bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.popup {
  width: 600px;
  height: auto;
  padding: 40px;
  border-radius: 20px;
  background-color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup .txt p {
  font-family: var(--font-type02);
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  color: #666;
}

.popup .txt p span {
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #111;
  color: #111;
}

.popup .btn {
  width: 160px;
  height: 48px;
  border-radius: 12px;
  background-color: #111;
  color: #fff;
  border: 2px solid transparent;
  text-align: center;
  line-height: 44px;

  cursor: pointer;
  transition: 0.3s;
}

.popup .btn:hover {
  background-color: #fff;
  border: 2px solid #111;
  color: #111;
}
/*********************************intro*********************************/
.fixPage {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-image: url(../img/bg.png);
  background-position: top -60px right -210px;
  background-repeat: no-repeat;
  z-index: -1;
}
.fixPage::before {
  content: "PortFolio";
  display: block;
  font-family: var(--font-type02);
  font-size: 280px;
  font-weight: 800;
  color: #fff;
  position: absolute;
  bottom: -55px;
  right: 0;
}

.intro {
  width: 100%;
  border-bottom: 1px solid #fff;
}
.intro .slogan {
  padding: 100px;
  border-right: 1px solid #fff;
}

.name-img {
  transform-origin: 50% 0%;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(30deg);
  }
  35% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(10deg);
  }
  65% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.intro .slogan .top p,
.intro .slogan .top span {
  font-size: 40px;
  font-family: var(--font-type02);
}
.intro .slogan .top span {
  background-color: #fff;
  color: #111;
}
.intro .slogan .bottom p {
  font-family: var(--font-type02);
  font-size: 100px;
  font-weight: 800;
}
.intro .info {
  flex: 1;
}
.intro .info .top {
  padding: 0 0 0 100px;
  height: 140px;
  border-bottom: 1px solid #fff;
}
.intro .info .top p {
  font-family: var(--font-type01);
  font-size: 28px;
}
.intro .info .bottom {
  height: calc(100% - 140px);
  padding: 0 100px;
}
.intro .info .bottom li {
  font-family: var(--font-type01);
  font-size: 24px;
  font-weight: 400;
  color: #c9c9c9;
}
.intro .info .bottom li strong {
  font-family: var(--font-type01);
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
  color: #fff;
}

/**************************scrollContents**************************/
.scrollContents {
  width: 100%;
  background-color: #111;
  position: absolute;
  top: 100%;
}
.scrollContents .aboutMe {
  border-bottom: 1px solid #fff;
}
.scrollContents .aboutMe .profile {
  width: 400px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.scrollContents .aboutMe .profile .pro-txt {
  padding: 40px;
  border-top: 1px solid #fff;
}
.aboutMe .title {
  font-family: var(--font-type02);
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 32px;
}
.aboutMe .profile .info .name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.aboutMe .profile .info ul li + li {
  margin-top: 12px;
}
.aboutMe .profile .info ul li .s-tit {
  width: 70px;
  font-weight: 400;
  margin-right: 20px;
}
.aboutMe .profile .info ul li p,
.aboutMe .profile .info ul li a {
  font-size: 20px;
  font-weight: 300;
}
.aboutMe .profile .info ul li .txt {
  opacity: 0.8;
}

.job-info {
  border-top: 1px solid #fff;
  flex: 1;
}
.career-box {
  padding: 65px 80px;
  border-top: 1px solid #fff;
}
.career-box p {
  font-size: 20px;
  font-weight: 300;
  color: #ebebeb;
}
.career-box .career-list li {
  font-size: 20px;
  font-weight: 300;
  color: #ebebeb;
}
.career-box .career-list li.edu {
  width: 810px;
}
.career-box .career-list .business {
  width: 120px;
}

.career-box .skill p:last-child {
  margin-top: 14px;
}

.index {
  padding: 100px;
  padding-bottom: 200px;
}
.index .index-link {
  opacity: 0.4;
}
.index .title {
  font-family: var(--font-type02);
  font-weight: 800;
  font-size: 40px;
}
.index .link-wrap {
  margin-left: 320px;
  font-family: var(--font-type02);
  gap: 200px;
}
.index-link .no {
  font-family: var(--font-type02);
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 60px;
}
.index-link .s-title {
  font-family: var(--font-type02);
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 28px;
}
.index-link .work-list li {
  font-family: var(--font-type02);
  font-size: 28px;
  padding-left: 20px;
  position: relative;
}
.index-link .work-list li::before {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 15px;
  left: 0;
}
.index-link .work-list li + li {
  margin-top: 16px;
}
.index-link:hover,
.index-link:focus {
  opacity: 1;
}
