@charset "utf-8";

@font-face {
  font-family: "Paperlogy";
  font-weight: 900;
  src: url("../Paperlogy/Paperlogy-9Black.ttf") format("truetype");
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 800;
  src: url("../Paperlogy/Paperlogy-8ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 700;
  src: url("../Paperlogy/Paperlogy-7Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 600;
  src: url("../Paperlogy/Paperlogy-6SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 500;
  src: url("../Paperlogy/Paperlogy-5Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 400;
  src: url("../Paperlogy/Paperlogy-4Regular.ttf") format("truetype");
}
