@charset "utf-8";

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("../pretendard/pretendard-regular.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("../pretendard/pretendard-medium.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("../pretendard/pretendard-semibold.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("../pretendard/pretendard-bold.ttf") format("ttf");
}
